<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SchoolDao">

    <select id="findOne" parameterType="int" resultType="com.domain.School">
         SELECT * FROM jy_schoolinfo WHERE id=#{id}
    </select>

    <select id="list" resultType="com.domain.School">
            SELECT * FROM jy_schoolinfo
    </select>

    <select id="getSchoolAmount" resultType="int">
             SELECT COUNT(*) FROM jy_schoolinfo
    </select>

    <insert id="add" parameterType="com.domain.School">
             INSERT INTO jy_schoolinfo (sc_code,sc_name,sc_address,sc_pici,sc_wenli,
             sc_site,sc_category,sc_kind,sc_tag,sc_belong,sc_belongtag,sc_property) VALUES(#{sc_code},#{sc_name},#{sc_address},
             #{sc_pici},#{sc_wenli},#{sc_site},#{sc_category},#{sc_kind},#{sc_tag},#{sc_belong},#{sc_belongtag},#{sc_property})
    </insert>

    <delete id="delete" parameterType="com.domain.School">
             DELETE FROM jy_schoolinfo WHERE id=#{id}
    </delete>

    <update id="update" parameterType="com.domain.School">
             UPDATE jy_schoolinfo set id=#{id},sc_code=#{sc_code},sc_name=#{sc_name},sc_address=#{sc_address},sc_pici=#{sc_pici},
             sc_site=#{sc_site},sc_category={sc_category},sc_kind=#{sc_kind},sc_tag=#{sc_tag},sc_belong=#{sc_belong},sc_belongtag={sc_belongtag},
             sc_property={sc_property} WHERE  id=#{id}
    </update>

    <select id="paginationEntity" parameterType="com.core.page.Pagination" resultType="com.domain.School">
             SELECT * FROM jy_schoolinfo LIMIT #{start} , #{pageSize}
    </select>

    <select id="listBySchool" parameterType="com.domain.School" resultType="com.domain.School">
        SELECT * FROM jy_schoolinfo WHERE
        <if test="sc_name !=null ">
            and sc_name=#{sc_name}
        </if>

        <if test="sc_belong !=null ">
            and sc_belong=#{sc_belong}
        </if>

        <if test="sc_catagory !=null">
            and sc_catagory=#{sc_catagory}
        </if>

        <if test="sc_kind !=null">
            and sc_kind=#{sc_kind}
        </if>

        <if test="pici !=null">
            and pici=#{pici}
        </if>

        <if test="sc_catagory !=null">
            and sc_catagory=#{sc_catagory}
        </if>
    </select>

    <select id="findSchoolByName" parameterType="com.domain.School" resultType="com.domain.School">
          SELECT  * FROM jy_schoolinfo WHERE sc_name=#{sc_name}
    </select>

    <select id="displayDefault" resultType="com.domain.School">
        SELECT * from jy_schoolinfo limit 0,10
    </select>
</mapper>
